---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "My Blogs"
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>This is my First (test) BlogSite</h2>
    <p>This is where I will post about my journey learning and Software Development Career.</p>
    <ul>
        <li><a href="/posts/posts_1/">Post 1</a></li>
        <li><a href="/posts/posts_2">Post 2</a></li>
        <li><a href="/posts/posts_3/">Post 3</a></li>
    </ul>
</BaseLayout>


